<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{REQUEST_URI} ^.*assets/(.*)
  RewriteRule ^(.*)$ backend/public/dist/assets/%1 [END]


  # Ha a public mappában lévő fájlra érkezett a kérés, szolgáld ki a fájlt
  RewriteCond %{REQUEST_URI} ^.*public/(.*)
  RewriteRule ^(.*)$ backend/public/%1 [END]

  # Minden más esetben az index.php-t futtasd le
  RewriteRule (.*) backend/index.php [QSA]

</IfModule>