
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="index-container">
    <div id="profile">
      <div id="profile-image">
        <img src="/images/Profile.jpg" alt="">
      </div>
      <div id="description">
        <div id="greetings">
          <h1>Hi</h1>
        </div>
        <div id="introduction">
          <h3>My name is </h3>
          <h1>Árpád Szaniszló</h1>
        </div>
        <div id="skills">
          <h1>Web developer</h1>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/index.js"></script>
</body>

</html>