<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="aboutMe-container">
    <div id="profile">
      <div id="me">
        <div id="profile-image">
          <img src="/images/Profile.jpg" alt="">
        </div>
        <h1>Árpád Szaniszló</h1>
        <h3>Web Developer</h3>
        <hr>
      </div>

      <div id="about-me">
        <h2>Who I'm, What am I do?</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
          hic similique dolores placeat animi aspernatur
          nulla id nostrum asperiores, sequi sint incidunt. Accusantium sint,
          similique perspiciatis sunt officia ab accusamus!
        </p>
        <p>
          nulla id nostrum asperiores, sequi sint incidunt. Accusantium sint,
          similique perspiciatis sunt officia ab accusamus!
          nulla id nostrum asperiores, sequi sint incidunt. Accusantium sint,
          similique perspiciatis sunt officia ab accusamus!
          nulla id nostrum asperiores, sequi sint incidunt. Accusantium sint,
          similique perspiciatis sunt officia ab accusamus!
          nulla id nostrum asperiores, sequi sint incidunt. Accusantium sint,
          similique perspiciatis sunt officia ab accusamus!
          nulla id nostrum asperiores, sequi sint incidunt. Accusantium sint,
          similique perspiciatis sunt officia ab accusamus!
          nulla id nostrum asperiores, sequi sint incidunt. Accusantium sint,
          similique perspiciatis sunt officia ab accusamus!
        </p>
      </div>
      <div id="fast-contact">
        <div id="contacts">
          <a href="https://www.facebook.com/arpad.szaniszlo.1">
            <img src="/images/facebook.png" class="contact-icon" alt="">
          </a>
          <a href="">
            <img src="/images/gmail-logo.png" class="contact-icon" alt="">
          </a>
          <a href="">
            <img src="/images/linkedin.png" class="contact-icon" alt="">
          </a>
        </div>
      </div>
    </div>
    <a href="/" class="home-button">
      <img src="/images/back.png" alt="">
    </a>
  </div>
  <script src="/js/aboutMe.js"></script>

</body>

</html>