<header>
  <nav>
    <div class="navigation-button-wrapper" id="aboutMe-wrapper">
      <a href="/aboutMe" id="aboutMe">About me</a>
    </div>
    <div class="navigation-button-wrapper" id="references-wrapper">
      <a href="/references" id="references">References</a>
    </div>
    <div class="navigation-button-wrapper" id="contactMe-wrapper">
      <a href="/contactMe" id="contactMe">Contact me</a>
    </div>
  </nav>
</header>